<div id="block_products">
    <div class="col-md-4 add_product_block">
        <div class="product_block_inner">
            <a href="#" id="btn_add_product" class="full-size">
                <span class="glyphicon glyphicon-plus add_product_icon"></span>
                <span class="add_product_title">Add Product</span>
            </a>
        </div>
    </div>

    <div class="col-md-4 product_block">
        <div class="product_block_inner">
            <a href="#" class="btn_product full-size">
                <img class="product_img" src="http://placehold.it/100/CA386C/0000000">
                <span class="product_title">wubalubadubdub</span>
            </a>
        </div>
    </div>
    <div class="col-md-4 product_block">
        <div class="product_block_inner">
            <a href="#" class="btn_product full-size">
                <img class="product_img" src="http://placehold.it/100/CA386C/0000000">
                <span class="product_title">wubalubadubdub</span>
            </a>
        </div>
    </div>
</div>