<div class="modal fade" id="modal_view_product" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="view_product_title">View product</h4>
        </div>
        <div class="modal-body">
            <img id="view_product_img" class="block-center" src="http://placehold.it/300/CA386C/0000000">
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd id="view_product_name"></dd>
                <dt>Description</dt>
                <dd id="view_product_description"></dd>
                <dt>Category</dt>
                <dd id="view_product_category"></dd>
            </dl>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal_new_product" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New product</h4>
        </div>
        <div class="modal-body">
        <div class="bs-component">
            <form id="new_category_form " class="form-horizontal">
                <div class="form-group">

                    <label class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input type='text' id="new_product_name" class="form-control" name='new_product_name'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Description</label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="new_product_description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Category</label>
                    <div class="col-md-10">
                        <select type='text' id="new_product_category" class="form-control" name='new_product_category'>
                        {% for i in categories %}
                            <option value="{{ i.id }}">{{ i.name }}</option>}
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Image URL</label>
                    <div class="col-md-10">
                        <input type='text' id="new_product_img_url" class="form-control" name='new_product_img_url'>
                    </div>
                </div>
                <!--
                <input type='text' id="new_product_brand" class="form-control" name='new_product_brand'>
                -->
            </form>
        </div>
        </div>
        <div class="modal-footer">
            <button type='button' class="btn btn-success" id="btn_new_product_submit">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal_edit_product" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit product</h4>
        </div>
        <div class="modal-body">
        <div class="bs-component">
            <form id="edit_category_form " class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input type='text' id="edit_product_name" class="form-control" name='edit_product_name'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Description</label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="edit_product_description">
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Category</label>
                    <div class="col-md-10">
                        <select type='text' id="new_product_category" class="form-control" name='new_product_category'>
                        {% for i in categories %}
                            <option value="{{ i.id }}">{{ i.name }}</option>}
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Image URL</label>
                    <div class="col-md-10">
                        <input type='text' id="edit_product_img_url" class="form-control" name='new_product_img_url'>
                    </div>
                </div>
                <!--
                <input type='text' id="new_product_brand" class="form-control" name='new_product_brand'>
                -->
            </form>
        </div>
        </div>
        <div class="modal-footer">
            <button type='button' class="btn btn-success" id="btn_edit_product_submit">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_delete_product" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Delete product <span id="delete_product_title"></span>?</h4>
        </div>
        <div class="modal-body">
            Are you sure you want to delete <span id="delete_product_text"></span>?
        </div>
        <div class="modal-footer">
            <button type='button' class="btn btn-danger" id="btn_delete_product_submit">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>
