<div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="full-size" data-toggle="collapse" href="#block_brands">
                        <span class="glyphicon glyphicon-minus icon_collapse"></span>
                      Brands
                    </a>
                  </h4>
                </div>
                <div id="block_brands" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table table-hover">
                            <tr>
                                <th colspan="2"></th>
                                <th>Name</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <a href="#" data-toggle="modal" data-target="#modal_new_category">
                                        <div class="full-size">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            <span class="add-text">
                                            Add brand...

                                            </span>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>